.main_totalSales_container{
    // border: 1px solid;

    .totalSales_header{
        margin: 12px 10px;
        display: flex;
        align-items: center;
        align-content: flex-end;
        justify-content: space-between;

        span{
            display: flex;
            font-size: 13px;
            color: #529191;
        }
    }
 }

 .totalSalesCard{
    font-size: 14px;
    font-weight: 500;
    color: #2c1c06;
    // border-bottom: 0.5px solid #cfc6c6 !important;
    border-bottom: 2px solid #48454514 !important;
    width: 100%;
    padding: 0 10px;
    justify-content: start !important;

 }
 

 .line_dashboard_card{
    // border: 0.5px solid #cfc6c6 !important;
    border: 2px solid #48454514 !important;
    border-radius: 7px;
    overflow: hidden;

    div{
    padding: 5px 6px;
    display: flex;
    justify-content: center;
    align-items: center;
    }
 }

 .offline_online{
    margin: 0 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    // justify-content: space-between;
    // padding: 5px;
    
 }